[package]
name = "sniprun"
version = "0.5.2"
authors = ["michaelb <michael.bleuez2@gmail.com>"]
edition = "2018"

[features]
ignore_in_ci = []
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[build-dependencies]
# cc="*"

[dependencies]
neovim-lib="*"
log="*"
simple-logging="*"
thiserror="*"
dirs="*"
regex="*"
serde_json="*"
strip-ansi-escapes="*"

jupyter-client = { git = "https://gitlab.com/srwalker101/rust-jupyter-client.git", branch = "dev" }

# tree-sitter stuff
# tree-sitter = "0.16.1"

# Python3 interpreter
unindent="*"
